body {
    font-family: monospace;
}

.input {
   font-size: 10px;
   padding: 3px;
}

.button {
    margin-left: 10px;
    font-size: 10px;
}

.err {
    display: inline-block; 
    padding: 3px; 
    font-family: monospace; 
    font-size: 12px; 
    color:white; 
    background-color: #b51803;
}

.success { 
    display: inline-block; 
    padding: 3px; 
    font-family: monospace; 
    font-size: 12px; 
    color:white; 
    background-color: #4d994d;  
}