if messages.blankURL
  for error in messages.blankURL
    div(class="err") #{error.msg}

if messages.urlValidate
  for error in messages.urlValidate
    div(class="err") #{error}

if messages.requestStatusError
  for error in messages.requestStatusError
    div(class="err") #{error}

if messages.success
  for msg in messages.success
    div(class="success") #{msg}